
/* Mobile Menu */

.mobile-header {
	margin: 0px;
	padding: 0px;
	width: 100%;
	display: none;
	z-index: 30;
	background: #3a3694;
	z-index: 9999;
}
.mobile-header ul {
	margin: 0px;
	padding: 0px;
	z-index: 30;
	list-style: none;
	overflow: hidden;
}
.mobile-header ul .m-menu {
	float: left;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	position: relative;
	z-index: 30;
	width: 25%;
}
.mobile-header ul .m-menu a {
	margin: 0px;
	padding: 10px 0px;
	width: auto;
	display: block;
	text-align: left;
	padding-left: 10px;
	text-decoration: none;
}
.mobile-header ul li.active a {
	background-color: #534ed3;
}

/* Mobile Menu */
.mobile-menu {
	background: #534ed3;
	margin: 0px;
	padding: 0px;
	width:160px;
	text-transform: none;
	font-size: 12px;
	position: absolute;
	margin-top: 0px;
	z-index: 9998;
	display: none;
}
.mobile-menu-bg {
	background: #2956a6;
	margin: 0px;
	position: fixed;
	width: 160px;
	top: 0px;
	bottom: 0px;
	z-index: 9997;
	display: none;
	height: 100%;
}
/* Top Level Menu Navigation */
.mobile-menu ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	width: 100%;
	background: #534ed3;
}
.mobile-menu ul > li {
	width: 100%;
	border-bottom: 1px solid #3668c2;
	display: block;
	float: none;
}
.mobile-menu ul li a {
	font-size: inherit;
	margin: 0px;
	z-index: auto;
	padding: 10px;
	background: none;
	width: auto;
	text-transform: none;
	line-height: 15px;
	border: 0px;
	display: block;
	color: #ffffff;
	text-align: left;
	font-weight: bold;
	background: none;
	text-decoration: none;
}
.mobile-menu ul li a:hover {
	color: #86a2d5;
}
/* Second Level Menu Navigation */
.mobile-menu ul ul li {
	border-bottom: 0px;
	padding-left: 20px;
	width: auto;
}
.mobile-menu ul ul li a {
	color: #fff;
}
/* Third Level Menu Navigation */
.mobile-menu ul ul ul li {
}
.mobile-menu ul ul ul li a {
	color: #fff;
	font-weight: normal;
}
	#container-all-outer {
		width: 100%;
		overflow: hidden;
		display: block;
	}
	#container-all-inner {
		width: 100%;
		overflow: hidden;
		display: block;
	}
	#container-all {
		display: block;
		min-width: 320px;
		width: auto;
		overflow: hidden;
	}
.mobile-header {
	display: block;
}
.mobile-menu,
.mobile-menu.active,
.mobile-menu-bg.active {
	display: block;
}

